/log/*
!/log/.gitkeep
/uploads/*
!/uploads/.gitkeep

/.venv/
/.pipenv/*
!/.pipenv/.gitkeep
!/.pipenv/python

/.mypy_cache/*

/.django.env

/.coverage
/htmlcov

**/__pycache__/*

.coverage
.coveragerc
.django.env
.pyc
